@import "../settings/_variables";
@import "../settings/_mixins";
@import "../settings/buttons";

input#chbx,
input#chbx ~ .links {
  display: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    justify-content: flex-start;
    margin-top: 70px;

    .logo-container {
      display: flex;
      align-items: center;

      .logo__subtitle {
        margin: unset;
        margin-left: 20px;
      }
    }

    .nav-desktop {
      margin-left: auto;
    }
  }
}

.logo-container {
  .logo {
    width: 124px;
    height: 48px;

    background: $logo-background;

    font-family: "Oleo Script", serif;
    font-size: 2.9rem;
    line-height: 48px;

    text-align: center;

    border-radius: 6px;

    margin-top: 50px;

    a {
      text-decoration: none;
      color: white;
    }

    @include tablet {
      height: 60px;
      line-height: 60px;
    }

    @include desktop {
      margin-top: unset;
      height: 70px;
      line-height: 70px;
    }
  }
  .logo__subtitle {
    margin-top: 13px;
    display: block;
    font-size: 0.9rem;
    font-family: "Open Sans";
    text-align: center;
    font-weight: 800;
    opacity: 0.8;
  }
}

.navigation-hamburger__icon {
  cursor: pointer;
  display: block;
  width: 58px;
  height: 38px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 6px;
  left: 6px;
}

input#chbx:checked {
  ~ label .navigation-hamburger__icon {
    left: 266px;
    transition: left linear 0.1s;
  }

  ~ .links {
    display: block;
    height: 100%;
    width: 250px;
    background-color: white;
    box-shadow: inset -3px 0px 0px 0px #dfdfdf;
    position: absolute;
    top: 0;
    left: 0;

    li {
      width: 80%;
      border-bottom: 1px solid rgba(68, 68, 68, 0.25);

      margin: 0 auto;

      height: 54px;
      line-height: 54px;

      a {
        font-size: 1rem;
        font-weight: 800;

        color: $primary-text;
        text-decoration: none;
      }
    }
  }
}

.nav-mobile {
  display: block;

  @include desktop {
    display: none;
  }
}

.nav-desktop {
  display: none;

  @include desktop {
    display: block;

    ul {
      display: flex;
      gap: 10px;

      li {
        a {
          padding: 10px 15px;

          font-size: 0.9rem;
          font-weight: 800;

          color: $primary-text;
          text-decoration: none;

          &:hover {
            padding: 10px 15px;
            border-radius: 6px;

            background: white;
          }

          &.active {
            padding: 10px 15px;
            border-radius: 6px;

            background: $primary-text;
            color: white;
          }
        }
      }
    }
  }
}
