@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");

$main-background: #e4e4e4;
$primary-text: #444444;

$logo-background: #fc4887;
$button-border: #1691c3;
